.header {
    border-width: 5px;
    border-color: red;
    border-style: solid;
    border-radius: 20px;
}

div {
    border-width: 5px;
    border-color: aqua;
    border-style: solid;
    border-radius: 10px;
}

.div{
    background-color: aqua;
    width: 50%;
    height: 50px;
    border-color: red;
    border-style: solid;
    border-width: 3px;
}

.test{
    display: inline-block;
    background-color: blueviolet;
    width: 50%;
    height: 50px;
    border-color: brown;
    border-style: solid;
    border-width: 3px;
    font-size: 30px;
}